<nav class="shadow p-1 navbar navbar-expand-sm zb-top">
    <a href="/cm/index.html"><img src="/cm/img/title.png" class="d-inline-block align-text-top" style="margin: 5px;" height="30"></a>
    <a class="navbar-brand">官网</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: rgba(255, 255, 255, 0);">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/cm/index.html">主页</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                链接
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cm/rule.html">群规</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="https://jq.qq.com/?_wv=1027&k=RVAnz9K6" target="_blank">QQ群</a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://www.123pan.com/s/bSslVv-u8qEh.html"
                        target="_blank">资源网盘</a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://docs.qq.com/sheet/DUlVpU3FYY3VxZ2F1"
                        target="_blank">在线文档</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/cm/about.html">关于</a>
        </li>
    </ul>
</nav>